*{
  margin: 0;
}
.head
{
  height: 70px;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: space-around;
  display: flex;
  color: white;
}
.p1
{
  align-items: center;
  display: flex;
  color: white;
}







@media (max-width:510px) {
  
  .p2
  {
display: none;
  }
  .p2
{
  display: none;
}
.p3
{
  display: none;
}
}